  :local(.app) {
    min-width: 100%;
    max-height: auto;
  }
  :local(.app) {
    .fs {
      top: 0
    }
  }

  :local(.app) html {
    scroll-behavior: smooth;
  }
  
  :local(.app) section {
    margin: 10vh 20vw 10vh 20vw;
  }

  :local(.app) .router {
    margin: auto;
  }
  
  :local(.app) a {
    /* color: black; */
    font-weight: bold;
    text-decoration: none;
  }
  
  :local(.app) #call-to-action {
    border-radius: 12px;
    background-color: rgb(236, 236, 236);
    font-size: large;
    padding: 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
  }

  :local(.app) .details {
    padding: 40px;
    font-size: 24px;
  }
  
  :local(.app) span.highlight {
    font-weight: bolder;
    background: linear-gradient(104deg, rgba(255, 231, 16, 0) 0.9%, rgba(255, 231, 16, 1.25) 2.4%, rgba(255, 231, 16, 0.5) 5.8%, rgba(255, 231, 16, 0.1) 93%, rgba(255, 231, 16, 0.7) 96%, rgba(255, 231, 162, 0) 98%), linear-gradient(183deg, rgba(255, 231, 16, 0) 0%, rgba(255, 231, 16, 0.3) 7.9%, rgba(255, 231, 16, 0) 15%);
    padding: 0.1em 13.7px;
    -webkit-box-decoration-break: clone;
    margin: 0;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px rgba(255, 231, 16, 0.7), 21px -18.1px 7.3px rgba(255, 255, 255, 1), -18.1px -27.3px 30px rgba(255, 255, 255, 1);
  }
  :local(.app) s {
    background-color: rgba(255, 231, 16, 0);
  }
  
  
  :local(.app) ::selection {
    background: #fff2e1;
  }
  
  :local(.app) ::-moz-selection {
    background: #e1eeff;
  }
  
  /* section.features {
    margin: 0px 5vw 0px 5vw;
  } */
  
  :local(.app) .single-feature {
    border-radius: 12px;
    padding: 10px;
    >div {
        vertical-align: top;
        width: 50%;
        text-align: center;
        display: inline-block;
        >p {
            font-size: 24px;
          }
          >img {
            max-height: 100%;
            width: 100%;
          }
          
      }
  }

  // :local(.app) .form {
  //   border-radius: 12px;
  //   padding-top: 10vh;
  //   text-align: center;
  //   >iframe {
  //       width: 50vw;
  //       height: 830px;
  //     }
  // }
    
    
  :local(.app) .features-list {
    text-align: center;
    >div {
        width: auto;
        margin: 0 auto;
        text-align: left;
      }
  }
    
  :local(.app) .built-by-details {
    margin-left: 10px;
    margin-left: 10px;
  }
  
  :local(.app) .built-by {
    text-align: center;
    margin: 5vw;
    >div {
        text-align: left;
      }
  }  
  
  @media only screen and (max-width: 600px) {
    :local(.app) section {
      margin: 0px 5vw 0px 5vw;
      #form {
        margin: 0 auto;
        text-align: center;
      }
    }
  
    :local(.app) .details {
      padding: 60px 10px 20px 10px;
    }
  
    :local(.app) .single-feature {
      padding-bottom: 20px;
      height: 20vh;
      margin: 100px 0px 100px 0px;
      >div {
        width: unset;
        display: unset;
      }
      #right {
        display: none;
      }
      >p {
        font-size: 16px;
      }
    }
  
    :local(.app) .form>iframe {
      width: 80vw;
    }
  }